body{
    background-color: rgb(122, 46, 157);
}
:root{
--main-font:"EB Garamond",serif ;
--main-color: white;
--second-color:rgba(255, 255, 48, 0.628);
}

h1{
  color: var(--main-color); 
  text-align: center; 
font-family: var(--main-font);
font-weight: 400;
}
h2{
  color:var(--main-color) ;  
  text-align: center;
  font-family:var(--main-font);
}
h3{
  font-family: var(--main-font);  
  text-align: center;
  color: var(--main-color);
}
.toggleButton{
border-radius: 12px;
border: gold solid 2px;
padding: 6px;
background-color: blueviolet;
color: white;
margin: 0 auto;
display: block;
}
p{
color: var(--main-color);
font-family: var(--main-font);
text-align: center;

}
li{
color: var(--second-color);
font-family: var(--main-font);
}
.container-fluid{
background-color: rgba(0, 0, 255, 0.519);

}
.magic{
  
    
    border: 2px solid rgb(255, 255, 255);
}

/*absolute*/
.one{
color: var(--main-color);
background-color: aqua;
padding: 10px;
position: absolute;
top: 50px;
left: 50px;
}
/*fixed*/
.two{
background-color: greenyellow;
color: var(--main-color);
padding: 10px;
position: fixed;
top: 20px;
left:20px;
}
/*relative*/
.three{
background-color: red;
  color: var(--main-color);  
padding: 10px;
position: relative;
top: 20px;
right:20px;
}