body{
    background-color: rgb(122, 46, 157);
}
.ren{
  background-color: rgb(48, 48, 41);
}
img{
  max-width: 100%;
}
:root{
--main-font:"EB Garamond",serif ;
--main-color: white;
--second-color:rgba(255, 255, 48, 0.628);
}
h1{
  color: var(--main-color); 
  text-align: center; 
font-family: var(--main-font);
font-weight: 400;
}
h2{
  color:var(--main-color) ;  
  text-align: center;
  font-family:var(--main-font);
}
h3{
  font-family: var(--main-font);  
  text-align: center;
  color: var(--main-color);
}
.toggleButton{
border-radius: 12px;
border: gold solid 2px;
padding: 6px;
background-color: blueviolet;
color: white;
margin: 0 auto;
display: block;
}
p{
color: var(--main-color);
font-family: var(--main-font);
text-align: center;
}
li{
color: var(--second-color);
font-family: var(--main-font);
}
.container-fluid{
background-color: rgba(0, 0, 255, 0.519);
}
.magic{
margin: 50px auto;
width: 80%;
height: 400px;
    background-color: lightgray;
    border: 2px solid rgb(255, 255, 255);
}
/*absolute*/
.one{
color: var(--main-color);
background-color: aqua;
padding: 10px;
position: absolute;
top:50px; /*moves down when you put a higher number*/
left: 50px;
}
/*fixed*/
.two{
background-color: greenyellow;
color: var(--main-color);
padding: 10px;
position: fixed;
top: 20px;/*moves down the higher number you put*/
left:20px;
}
/*relative*/
.three{
background-color: red;
  color: var(--main-color);  
padding: 10px;
position: relative;
top: 20px;/*moves down the higher number you put*/
right:20px;
}
.absolute-button{
  font-family:var(--main-font);
border: none;
border-radius: 9px;
cursor: pointer;
background-color: blueviolet;
padding: 6px;
color: var(--second-color);
}
.absolute-button:hover{
 background-color: black;
  color: aliceblue;
}
 .cards img{
  border-radius: 13px;
  display: block;
}
.card-content{
background-color: rgb(117, 98, 138);
padding: 13px;
border-radius: 12px;
}
.column-layout{
color: var(--main-color);
display: flex;
flex-direction: column;
gap: 10px;
}
.item{
  background-color: lightcoral;
}
.message{
  margin-top: 15px;
  color: var(--second-color);
  font-weight: bold;
}
.secondBtn{
font-family: var(--main-font);
cursor: pointer;
background-color: rgb(161, 79, 238);
}
