body{
    background-color: rgb(118, 78, 136);
}
:root{
--main-font:"EB Garamond",serif ;

}

h1{
  color: white; 
  text-align: center; 
font-family: var(--main-font);
font-weight: 400;
}
h2{
  color: white;  
  text-align: center;
  font-family:"EB Garamond",serif;
}
.toggleButton{
border-radius: 12px;
border: gold solid 2px;
padding: 6px;
background-color: blueviolet;
color: white;

}